.button {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  width: 6rem;
  height: 3rem;
}
@media (max-width: 768px) {
  .button {
    font-size: 12px;
    width: 5rem;
    height: 1.5rem;
  }
}
