.container {
  border: 1px solid red;
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(10, 100px);
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cell {
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
}
