.container {
  padding: 1rem;
  width: 100%;
  height: 70%;
  /* display: grid;
  grid-template-columns: repeat(10, 100px);
  justify-content: center;
  align-items: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.cell {
  width: 72px;
  font-weight: 700;
  font-size: 18px;
}
