.main-container {
  background-color: white;
  width: 93vw;
  min-height: 90vh;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  min-width: 6rem;
}
@media (max-width: 426px) {
  .main-container {
    min-height: 96vh;
    margin: 1rem 0;
  }
}
